
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /sheets
#RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?code=$1&%{QUERY_STRING} [L]
</IfModule>